{% extends 'base/index.html' %}
{% block content %}

<table>
    <tr>
        <th>
            <table>
                <tr>
                    <th>
                        <!-- Nombre articulo-->
                    </th>
                    <th>
                        <!-- Disponibilidad-->
                    </th>
                </tr>

                <tr>
                    <th>
                        <!-- Imagen articulo-->
                    </th>
                </tr>

                <tr>
                    <th>
                        <!-- Descripcion articulo-->
                    </th>
                </tr>
            </table>
        </th>

        <th>
            <table>
                <tr>
                    <th>
                        <!-- Solicitar reserva-->
                    </th>
                </tr>

                <tr>
                    <th>
                        <!-- Historial reservas-->
                    </th>
                </tr>
            </table>
        </th>
    </tr>
</table>
{% endblock %}

