<head>
    <title>
        Inventarion CEI
    </title>
</head>

<body>

<table id="cabecera">
<tr>
    <th style="width: 10%">
        <img src="../../../static/images/logo-cei.png" height="128" width="128" align="right">
    </th>

    <th style="width: 55%;">
        &nbsp;
    </th>

    <th style="width: 5%">
        <button type="button">e-mail button</button>
    </th>

    <th style="width: 15%;">
        <table id="datos-personales" style="text-align: right">
            <tr>
                <th>
                Nombre
                </th>
            </tr>
            <tr>
                <th>
                    Rut
                </th>
            </tr>
            <tr>
                <th>
                    e-mail
                </th>
            </tr>
        </table>
    </th>

    <th style="width: 10%">
        <button type="button">Perfil</button>
    </th>

    <th style="width: 5%">
        <button type="button">V</button>
    </th>
</tr>
</table>
<hr>

</body>