<head>
    <meta charset="utf-8">
    <title>
        Inventarion CEI
    </title>
</head>

<body>

<table id="cabecera">
<tr>
    <th style="width: 10%">
        <img src="../../static/images/logo-cei.png" height="128" width="128" align="right">
    </th>

    <th style="width: 55%;">
        &nbsp;
    </th>

    <th style="width: 5%">
        <button type="button">e-mail button</button>
    </th>

    <th style="width: 15%;">
        <table id="datos-personales" style="text-align: right">
            <tr>
                <th>
                Nombre: {{ current_user.first_name }} {{ current_user.last_name }}
                </th>
            </tr>
            <tr>
                <th>
                    Rut: {{ current_user.profile.rut }}
                </th>
            </tr>
            <tr>
                <th>
                    e-mail: {{ current_user.email }}
                </th>
            </tr>
        </table>
    </th>

    <th style="width: 10%">
        <button type="button">Perfil</button>
    </th>

    <th style="width: 5%">
{#        Menu aparece cuando el mouse hace hover. Falta aplicarle css para que funcione#}
        <div class="dropdown">
            <button class="dropbtn">V</button>
            <div class="dropdown-content">
{#                Falta hacer que los links lleven a distintas parted dependiendo de si el usuario es pn o admin#}
                <a href="{% url 'perfil_usuario_dueno' %}">Mi Perfil</a>
                <a href="{% url 'landing_page_pn' %}">Inicio</a>
            </div>
        </div>
    </th>


    <th style="width: 5%">
        <form action="/logout/">
        <button type="submit">logout</button>
        </form>
    </th>
</tr>
</table>
<hr color="gray">
<br><br>
{% block content %}
{% endblock %}
</body>