{% load static %}
<head>
    <meta charset="utf-8">
    <title>
        Inventario CEI
    </title>

    <link rel="stylesheet" href="{% static "external/fontawesome-free-5.0.13/svg-with-js/css/fa-svg-with-js.css" %}">
    <link rel="stylesheet" href="{% static "external/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">

 <script src="{% static "external/fontawesome-free-5.0.13/svg-with-js/js/fontawesome-all.min.js" %}"></script>
 <script src="{% static "external/jquery/jquery-3.3.1.min.js" %}"></script>
 <script src="{% static "external/bootstrap/js/bootstrap.min.js" %}"></script>

</head>

<body>
<div id="header-container">
    <div id="header-logo">
        <img src="{% static "images/cei_logo.svg" %}" alt="Logo CEI">
    </div>
    <div id="header-right-container">
        <i class="fa fa-envelope header-right-alignment header-icon"></i>
        <div class="header-right-alignment">
            <ul class="header-user-info">
                <li>
                    <div class="header-name">
                        <span class="dot {{ user_enabled_class }}"></span>{{ current_user.first_name }}&nbsp;{{ current_user.last_name }}
                    </div>
                </li>
                <li>
                    <div class="header-rut">{{ current_user.profile.rut }}</div>
                </li>
                <li>
                    <div class="header-mail">{{ current_user.email }}</div>
                </li>
            </ul>
        </div>
        <i class="fa fa-user header-right-alignment header-icon"></i>
    </div>
</div>
<hr class="no-margin-hr">
<br><br>
<div id="content-block">
{% block content %}
{% endblock %}
</div>
 <script src="{% static "js/main.js" %}"></script>

</body>