{% extends 'base.html' %}
{% block content %}

    <div id="article-info">
    <table width="50%" style="float: left">
        <tr>
            <th>
                <!-- Nombre articulo-->
                {{ article.name }}
            </th>
            <th>
                <!-- Estado articulo-->
                {{ article.state }}
            </th>
        </tr>

        <tr>
            <th>
                <!-- Imagen articulo-->
                <img src="{{ article.photo }}" alt="{{ article.name }}"
                     width="256" height="200">
                <br>
            </th>
        </tr>

        <tr>
            <th>
                <!-- Descripcion articulo-->
                <textarea cols="55" style="resize: none; float: inherit" readonly >
                            {{ article.desc }}
                        </textarea>
            </th>
        </tr>
    </table>
    &emsp;

    <table width="30%" style="float: left">
        <tr>
            <th>
                <!-- Solicitar reserva-->
                <h2>Solicitar Reserva</h2>

            </th>
        </tr>

        <tr>
            <th>
                <!-- Historial reservas-->
                <h2>Historial de Reservas</h2>

            </th>
        </tr>
    </table>
    </div>
{% endblock %}

