
<!-- codigo base, la barra de arriba -->

{% extends 'base.html' %}

{% load static %}

{% block css_content %}
        <link rel="stylesheet" href="{% static "css/sideviewadmin.css" %}">
{% endblock %}

<!-- el html de esta pagina en especifico -->
{% block content %}


    {# aqui va el html especifico #}

    <!-- administrador con la barra bonita de abajo -->
    <div class="title">
    <h1>Administrador</h1>
    </div>

    <hr width="80%">

    <!-- No necesitamos esta barra de busqueda por ahora

    <div align="center" class="search-bar">
{#    Barra de busqueda #}
    <input type="text"/> <input type="submit" value="Buscar">
    </div>

    -->

    <div align="left" class="sidenav">
    <!-- gestion de usuarios, espacios y articulos -->
        <a href="/landing-page-admin/usuarios"> <i class="fa fa-user fa-2x" aria-hidden="true"></i> </a>
        <a href="/landing-page-admin/articuloespacio"> <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i> </a>
        <a href="/landing-page-admin/grilla"> <i class="fa fa-calendar fa-2x" aria-hidden="true"></i></a>

    </div>

    {% block el_Contenido %}
    {% endblock %}



{% endblock %}