{% extends 'base.html' %}
{% block content %}
    {# aqui va el html especifico #}

    <div class="tab" align="center">
{#    Tabs para articulos y espacios#}
    <button class="tablinks" onclick="openTab(event, 'Article')">Artículos</button> <button class="tablinks" onclick="openTab(event, 'Espacio')">Espacios</button>
    </div>

    <br>

    <div align="center" class="search-bar">
{#    Barra de busqueda #}
    <input type="text" size="70%"/> <input type="submit" value="Buscar" size="15%">
        <br>
    <input type="button" value="Búsqueda Avanzada" style="color: dodgerblue; background: none; border: none; margin: 0; padding: 0; cursor: pointer" align="right">
    </div>

    <br>

    <div align="center" class="tabcontent" id="Article">
    <!-- Tab articulos-->
    <table id="results" width="80%">
        {% for set in query %}
{#            Cada set tiene 5 items#}
        <tr>
            {% for item in set %}
            <td>
                <!-- Representacion item-->
{#                Falta encerrar la foto y el nombre en cajas. Creo que se puede hacer con js#}
                    <img src="{{ item.photo }}" width="64" height="64" alt="{{ item.name }}">
                    <text>{{ item.name }}</text>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>

    <div align="center" class="tabcontent" id="Espacio">
    <!-- Tab espacios-->

    </div>

    <script>
    {#Esto elige cual tab se muestra#}
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    </script>

{% endblock %}