{% extends 'base.html' %}
{% block content %}
    {# aqui va el html especifico #}

    <div class="tab" align="center">
    <button class="tablinks" onclick="openTab(event, 'Article')">Artículos</button> <button class="tablinks" onclick="openTab(event, 'Espacio')">Espacios</button>
    </div>

    <br>

    <div align="center" class="search-bar">
    <input type="text" size="70%"/> <input type="submit" value="Buscar" size="15%">
    </div>

    <br>

    <div align="center" class="tabcontent" id="Article">
    <!-- Tab articulos-->
    </div>

    <div align="center" class="tabcontent" id="Espacio">
    <!-- Tab espacios-->
    </div>

    <script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    </script>

{% endblock %}