{% extends 'base.html' %}
{% block content %}
    {# aqui va el html especifico #}
    <div class="my-3" align="center">
        <a href="/landing-page-pn/articulos" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Pide Tu Artículo</a>
        <a href="/landing-page-pn/espacios" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reserva Tu Espacio</a>
    </div>
    <div class="my-3" align="center">
        {#    Elegir tabs de reserva o prestamo#}
        <button type="button" class="btn btn-secondary" onclick="displayArticleHistory()">Préstamos</button>
        <button type="button" class="btn btn-secondary" onclick="displayPlaceHistory()">Reservas</button>
    </div>
    <div class="my-3" id="history">
        <!-- Tabs con prestamos/reservas pasadas-->
            <div class="my-3" id="article-history" align="center">
                <form action="" method="post">{% csrf_token %}<button type="submit" class="btn btn-outline-dark">Borrar Seleccionados</button>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Artículo
                                </th>
                                <th>
                                    Desde
                                </th>
                                <th>
                                    Hasta
                                </th>
                                <th>
                                    Estado Préstamo
                                </th>
                                <th>
                                    Estado Artículo
                                </th>
                            </tr>
                            {% for article_loan in article_history %}
                                <tr>
                                    <td scope="row">
                                        <input type="checkbox" name ="todelete" value="{{ article_loan.id }}"/>
                                    </td>
                                    <td>
                                        {{ article_loan.article.name }}
                                    </td>
                                    <td>
                                        {{ article_loan.init_date }}
                                    </td>
                                    <td>
                                        {{ article_loan.end_date }}
                                    </td>
                                    <td>
                                        {{ article_loan.state }}
                                    </td>
                                 <td>
                                        {{ article_loan.article.state }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

        <div class="my-3" id="place-history" align="center" style="display: none">
        <form action="/perfil-usuario-dueno-espacios/" method="post">{% csrf_token %}<button type="submit" class="btn btn-outline-dark">Borrar Seleccionados</button>
            <table class="table table-sm">
                <tbody>
                    {% for place_res in place_history %}
                        <tr>
                            <th scope="row">
                                <input type="checkbox" name ="todelete" value="{{ place_res.id }}"/>
                            </th>
                            <td>
                                {{ place_res.espacio.name }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        </div>

        <div id="history-details">
            <table>
                <td>

                </td>
            </table>
        </div>
    </div>
    <script>
        var art_hist = document.getElementById("article-history");
        var place_hist = document.getElementById("place-history");

        function displayArticleHistory() {
            place_hist.style.display = "none";
            art_hist.style.display = "block";
        }

        function displayPlaceHistory() {
            art_hist.style.display = "none";
            place_hist.style.display = "block";
        }
    </script>
{% endblock %}