{% extends 'base.html' %}
{% block content %}
    {# aqui va el html especifico #}
    <div id="solicitudes">
{#    Botones para reservar espacio y pedir articulo #}
    <input type="button" value="Reserva Tu Espacio" align="left"/> <input type="button" value="Pide Tu Artículo" align="right">
    </div>

    <div>
{#    Elegir tabs de reserva o prestamo#}
    <input type="button" value="Reserva" align="left"/> <input type="button" value="Préstamos" align="right">
    </div>

    <div id="schedule-demo">
    <!-- Tabs con prestamos/reservas pasadas-->
    </div>
{% endblock %}