{% extends '../landing_page_pn.html' %}
{% block cond_art_esp %}

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buscar</button>

{#    <div class="row-element">#}
{#        <div class="search-bar-container">#}
{#            <i class="fa fa-search search-icon-custom"></i>#}
{#            <input class="search-bar-container-input" name="search" type="text" placeholder="Busqueda..."/>#}
{#            <div class="search-button"><a href="#" onclick="$(this).closest('form').submit()">Buscar</a></div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    Falta hacer las forms para consultas y el diseño de la búsquda#}
{#    <div id="advanced-options" class="row-element" align="right" style="display: none">#}
{#        <select id="type-select">#}
{#            <option value="none" disabled selected>Tipo</option>#}
{#            {% for type in types %}#}
{#                <option value="{{ type }}">{{ type }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{##}
{#        <select id="disponibility-select">#}
{#            <option value="none" disabled selected>Disponibilidad</option>#}
{#            <option value="Disponible">Disponible</option>#}
{#            <option value="Prestado">Prestado</option>#}
{#            <option value="En reparación">En Reparación</option>#}
{#            <option value="Perdido">Perdido</option>#}
{#        </select>#}
{#    </div>#}
    </form>

    <div class="row-element">
        <div class="advanced-search">
            <button id="search-mode" onclick="toggleAdvancedSearch()" style="background-color: transparent; border: transparent; color: #005cbf; cursor: pointer">Búsqueda Avanzada</button>
        </div>
    </div>

    {% if query|length != 0 %}
         <table id="results" width="80%">
            {% for set in query %}
    {#            Cada set tiene 5 items#}
            <tr>
                {% for item in set %}
                <td>
                    <!-- Representacion item-->
    {#                Falta encerrar la foto y el nombre en cajas. Creo que se puede hacer con js#}
                        <img src="{{ item.photo }}" href="{{ item.get_url }}" width="64" height="64" alt="{{ item.name }}">
                        <text>{{ item.name }}</text>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% elif after_query %}
{#        Caso query retorna vacio#}
        <p>No se encontró ninguna conicidencia</p>
    {% endif %}


    <script>
    function toggleAdvancedSearch() {
        var options = document.getElementById("advanced-options");
        var btn = document.getElementById("search-mode");
        var type = document.getElementById("type-select");
        var disponibility = document.getElementById("disponibility-select");
        if (options.style.display === "none") {
            options.style.display = "block";
            btn.textContent = "Búsqueda Simple";
        } else {
            options.style.display = "none";
            btn.textContent = "Búsqueda Avanzada";
            type.getElementsByTagName('option')[0].selected = 'selected';
            disponibility.getElementsByTagName('option')[0].selected = 'selected';
        }
    }
    </script>
{% endblock %}
